<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.ioanna.myandroidapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".main.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dz1.Dz1Activity"/>
        <activity android:name=".classwork2.Classwork2Activity"/>
        <activity android:name=".dz2.Dz2Activity"/>
        <activity android:name=".classwork3.Classwork3Activity"/>
        <activity android:name=".classwork4.Classwork4Activity"/>
        <activity android:name=".dz3.Dz3Activity"/>
        <activity android:name=".dz4.Dz4Activity"/>
    </application>

</manifest>