/dz1/nbproject/private/
/dz1/build/
/dz/nbproject/private/
/dz/build/
/dz2/nbproject/private/
/dz2/build/
/dz3/nbproject/private/
/dz3/build/
/dz4/nbproject/private/
/dz4/build/
/dz6/nbproject/private/
/dz5/nbproject/private/