/dz1/nbproject/private/
/dz1/build/
/dz/nbproject/private/
/dz/build/
/dz2/nbproject/private/
/dz2/build/
/dz3/nbproject/private/
/dz3/build/
/dz4/nbproject/private/
/dz4/build/
/dz6/nbproject/private/
/dz5/nbproject/private/
/dz5/build/
/dz7/build/
/dz8/nbproject/private/
/dz8/build/
/dz9/nbproject/private/
/dz9/build/
/dz10/nbproject/private/
/dz10/build/
/dz11/nbproject/private/
/dz11/build/
/dz11/dist/
/dz12/nbproject/private/
/dz12/build/
/dz13/nbproject/private/
/dz13/build/